/* === About style === */

.container {
  display: flex;
  flex-direction: column;
  background: $basic_blue;
}

.about-h{
  background: url(../images/W.png) no-repeat center;
  font-size: 3vw;
  padding: 100px;
  text-transform: uppercase;
  text-align: center;
}

.wrapper h3{
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.features3 img:hover {
  color: $basic-white;
  opacity: .5;
}

.features4 img:hover {
  color: $basic-white;
  opacity: .5;
}

.features1, .features2, .features3, .features4 {
  flex: 1;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

/* === Media Queries - About - === */

@media screen and (max-width: 768px){
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }
  .about-h{
    font-size: 8vw;
    white-space: nowrap;
  }
}