/* === About style === */

.container {
  	display: flex;
  	flex-direction: column;
  	background: $basic_blue;
	
	h1 {
  	background: url(../images/W.png) no-repeat center;
  	padding: 100px;
 	text-transform: uppercase;
 	text-align: center;
	font-size: 2rem;
}
}

.wrapper {
  	display: flex;
	flex-direction: row;
  	
	h3 {
  		text-transform: uppercase;
  		text-align: center;
  		padding: 15px;
}
}

.features3 img:hover {
  	color: $basic-white;
  	opacity: .5;
}

.features4 img:hover {
  	color: $basic-white;
  	opacity: .5;
}

.features1, .features2, .features3, .features4 {
  	padding: 20px;
  	text-align: center;
}

/* === Media Queries - About - === */

@media screen and (max-width: 768px){
  .wrapper{
	display: flex;
    flex-direction: column;
    align-items: space-around;
  }
  .about-h{
    white-space: nowrap;
  }
}