.s3-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.s3-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	overflow: visible;
	padding: 100px 0;
}

.image-box {
	width: 150px;
	height: 40px;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: $basic-white;
}

.s3-img {
	height: 414px;
	width: 270px;
	position: relative;
	margin: 30px;
}

.s3-img1 {
	background: url(../images/johnsnow.png);
}

.s3-img2 {
	background: url(../images/ladysansa2.png);
}

.s3-img3 {
	background: url(../images/davidsmith.png);
}

.s3-img4 {
	background: url(../images/ladysansa.png);
}

.s3-container h2 {
	background-color: $basic-white;
	text-align: center;
	color: $basic-blue;
	margin-top: 2px;
}

.s3-container h3 {
	text-align: center;
	margin-top: 4px;
	color: #000000;
}

/* === Media queries - section3 - ===*/

@media screen and (max-width: 768px){
	.s3-container{
		display: flex;
		flex-direction: column;
	}
}