/* === MAIN CONTAINER STYLE === */
 /*  (s2 comes from section2)  */

.s2-container {
  display: flex;
  justify-content: center;
  background: url(../images/s2bg.png) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* === WRAPPER CONTAINER STYLE === */

.s2-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
   width: 80%;
}

.s2-text {
 flex: 1;
}

.s2-text h2{
  color: $basic-white;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 30px 0px;
}

.s2-text p {
  color: $basic-white;
  font-size: 1rem;
  line-height: 1;
}


.slide-phones-button {
	@include basicButton(100%, auto, $basic-blue, $basic-white);
	border: none;
	padding: 5px;
	margin-top: 50px;
}

.s2-images {
  	margin: 70px;
	max-width:100%;
}
.phoneImage {
	width: 100%;
	height: auto;
}

/* === Media Queries for section2 === */

@media screen and (max-width: 768px) {

  .s2-images {
	  margin-top: 30px;
}
}


@media screen and (max-width: 900px){
	.s2-wrapper {
		flex-flow: column nowrap;
	}
}
