/* === GLOBAL STYLES === */

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

body {
	font-family: Roboto;
	color: $basic-white;
}

.hide {
    display: none !important;
}